body {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.62rem;
  color: #66BFBF;

}
h2 {
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-size: 1.7rem;
  color: #66BFBF;
}

.blist{
  width: 40%;
  margin: 0 auto;
}

.description {
  font-weight: normal;
}

.footer-link {
  color: #11999E;
  padding: 15px;
}

hr{
  border-style: none none dotted none;
  width: 5%;
  border-width: 5px;
  border-color: grey;
  margin: 50px auto;
}

.pic {
  height: 20%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pic2 {
  height: 20%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: white;
  padding: 20px;

}

.bottom-container {
  background-color: #66BFBF;
  padding: 10px;
  color: white;
}

.cloud2 {
  position: absolute;
  bottom: 300px;
  left: 200px;
}

.cloud1 {
  position: absolute;
  top: 50px;
  right: 200px;
}

li {
  list-style-type:none;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
   background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
   background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
   background-image: -o-linear-gradient(top, #66BFBF, #11999E);
   background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Times New Roman;
   font-size: 20px;
   font-weight: 100;
   padding: 13px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
btn
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
